<p id="notice"><%= notice %></p>
<br><br><br><br>
<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Created on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twees.each do |twee| %>
      <tr>
        <td><%= twee.content %></td>
        <td><%= twee.created_on %></td>
        <td><%= link_to 'Show detals', twee %></td>
        <td><%= link_to 'Edit tweet', edit_twee_path(twee) %></td>
        <td><%= link_to 'Delete tweet', twee, method: :delete, data: { confirm: 'Are you sure you want to delete this tweet?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_twee_path %>
